body{
    background-color: #b0b4ba;
}
input{
    position: relative;
    left: 10px;
    border: 2px solid black;
    padding: 0 0 0 5px;
}


textarea{
     position: relative;
    left: 10px;
    border: 2px solid black;
}

.operation{
  
    font-size: 30px;
    background-image: url(../image/images.jpg);
    opacity: 0.7;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    margin: 0 0 0 16px;
    text-align: right;
   
        
}
.no{
    height: 50px;
    width: 100px;
}
#zero{
    width: 200px;
    height: 50px;
}
#plus,#equal{
   height: 100px;
    width: 65px;
}

#minus{
     height: 50px;
    width: 65px;
}
.no{
    background-image: url(../image/btn_bg.jpg);
   color: aliceblue;
     border-radius: 10px; 
     font-weight: bolder;

}
#point{
    height: 50px;
    width: 100px; 
}
#plus,#equal,#point,#minus,#zero{
    background-image: url(../image/btn_bg.jpg);
   color: aliceblue;
     border-radius: 10px; 
    font-weight: bolder;

}
#minus,#point{
    font-size: 20px;
}
.no:hover{
    opacity: 0.6;
}
#plus:hover,#equal:hover,#point:hover,#minus:hover,#zero:hover{
   opacity: 0.6;  
}



.calculator{
    background-color: #47453f;
   width: 400px;
    padding: 10px 15px 10px 0;
    border-radius: 10px; 
    
}


.no:focus{outline: none;}


#plus:focus,#equal:focus,#point:focus,#minus:focus,#zero:focus{outline: none;}
































